html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    background-color: blue;
    color: white;
}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 40px;
}

footer{
    background: #2D0AF4;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    padding: 50px 20px;
}