

.forms{
    display: flex;
    flex-direction: row;
}
.forms > img{
    width: 50%;
    height: auto;
}

.tijd-from{
    text-align: left;
    margin: 40px;
}

.tijd-from > li > ul > p{
    text-decoration: none;
    color:black;
}

.tijd-from > form{
    display: flex;
    flex-direction: column;
}

.tijd-from > form > label{
    margin-top: 20px ;    
}

#send{
    background-color: white;
    border: 2px solid gray;
    color: gray;
    margin: 20px 0px;
    padding: 10px 15px;
}

#route{
    text-align: center;
}

.map{
    margin: 60px;
}