/* dark en light mode */
.lightmode{
    --nav-color:#E8CEE5;    
    --color: black;
    --body-color: #FFFFFF;
    --footer-color: #AAC9CE;
    --btn-color: #737291;
    --btn-color2: #8180A4 ;
}

.darkmode{
    --nav-color: #315372;
    --color: white;
    --body-color: #3153728c;
    --footer-color: #315372;
    --btn-color: #50718E;
    --btn-color2: #315372 ;
}


 
html{
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--body-color);
    color: var(--color);
}
  

/* navbar styling and positioning */
nav{
    background: var(--nav-color);
    color: var(--color);
}

.navbar > li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 40px;
}

.navbar > li> ul > a > h3{
    text-decoration: none;
    color:var(--color);
}

.navbar > li> ul > a:link {
    text-decoration: none;
}

.navbar > li> ul > a > h3:hover{ 
    color:gray;
}

/* section1 */
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img-etc{
    display: flex;
    flex-direction: row;
}

.img-etc > img{
    width: 1000px;
    height: auto;
}

/* .btn{
    border-radius: 50%;    
    padding: 30px;
    float: right;
}

.btn > h3{
 margin: 0;
 padding: 0;
 color: var(--btn-color2);
 transform: rotate(-30deg);
 margin: -9px;
}

.btn-group{
    display: flex;
    align-items: flex-end;
    color: black;
}

.btn-group button{
    position: absolute;
}

.btn-toggle1{
    left: 19%;
    z-index: 4;
    width: 75px;
    height: 75px;
    text-align: center;
    background: white;
    border: none;
}

.btn-toggle2{
    left: 18.7%;
    z-index: 1;
    width: 95px;
    height: 95px;
    background: var(--btn-color);
    border: none; 
}

.btn-toggle4{
    left: 19%;
    z-index: 3;    
    width: 85px;
    height: 85px;
    background: var(--btn-color2);
    border: none;
} */

.vos-licht{
    width: 100px;
    height: 126px;
    background: url('images/vos1.png') no-repeat;
}

.vos-donker{
    width: 100px;
    height: 126px;
    background: url('images/vos2.png') no-repeat;
}

#vos{
    margin-right: 50%;
}


/* vertical line */
.vl {
    border-left: 2px solid var(--color);
    height: 20px;
}

.vl-f {
    border-left: 2px solid var(--color);
    height: 40px;
    margin: 30px;
}

/* footer styling and positioning */
footer{
    background: var(--footer-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 50px 20px;
}
.parts-footer{
    display: flex;
    flex-direction: column;
}

/* footer navbar */
.footer-navbar{
    background: var(--footer-color);
    color: var(--color);
    float: left;
}

.footer-navbar > li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-navbar > li > ul{
    padding: 40px;
}

.footer-navbar > li > ul > a > h3{
    text-decoration: none;
    color:var(--color);
}

.footer-navbar > li > ul > a:link {
    text-decoration: none;
}

.footer-navbar > li > ul > a > h3:hover{ 
    color:gray;
}
/* adress footer */
.footer-adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer-adress > p{
    margin: 2px;
    color: var(--color);
}


/* back to top btn */
#scrollToTopBtn {
    background: var(--footer-color);
    border: none;
    color: var(--color);
    cursor: pointer;
    
    padding: 25px;
}
#scrollToTopBtn:hover{
    background: rgba(255, 255, 255, 0);
}


/* to get the arrow */
.arrow {
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 4px;
}

.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

audio{
    display: none;
}

.center{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    float: right;
}

.box{
  width: 74px;
  height: 74px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent var(--btn-color);
  transition: all 100ms ease-in-out;
}

.pause{
  border-style: double;
  border-width:0px 0px 0px 60px;
}




@media screen and (max-width: 800px) {
    nav{
        background: var(--nav-color);
        color: var(--color);
    }
    .navbar > li{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 8px;
    }

    .section1 > h1{
        font-size: 15px;
    }

    .section1 > h2{
        font-size: 12px;
    }
   
    .section1 > img{
        width: 400px; 
        height: auto;
    }

    .btn-toggle {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin-right: 300px;
        margin-top: -50px;
        color: black;
        background-color: rgb(247, 178, 75);
        border: 3px black solid;
        padding: 10px;
        font-size: 7px;
        border-radius: 50%;
    }

    footer > h1{
        font-size: 15px;
    }

    .footer-navbar > li > ul > a > h2{
        font-size: 8px;
        padding:2px !important;
    }
    .footer-navbar > li{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

}